<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GarageSale</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="821609926844-k5476bupthtsr8201bevbqf3dt0ic73u.apps.googleusercontent.com">
</head>

<body>

<!-- Nav -->
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('show_garage_sales') }}"><img
                src="../static/garagesale.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('show_garage_sales') }}">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                {% if 'username' in session %}
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ session['picture'] }}"
                                 class="rounded-circle" alt="Profile Picture" style="height: 30px; width: 30px;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" onclick="signOut();"><i
                                    class="fas fa-sign-out-alt text-and-icon"></i>Log out</a>
                        </div>
                    </li>
                    </ul>
                {% else %}
                    <a href="{{ url_for('show_login') }}">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
                    </a> {% endif %}
        </div>
    </nav>
</div>
<br><br>
<div class="g-signin2" data-onsuccess="signInCallback" hidden></div>
<script>
    function signOut() {

        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
        $.ajax({
            type: 'GET',
            url: '/logout',
            success: function () {
                // Handle or verify the server response if necessary.
                setTimeout(function () {
                    window.location.href = "/garagesales/";
                }, 4000);
            }
        });
    }

</script>
{% block content %} {% endblock %}


</body>

</html>