{% extends "index.html" %} {% block content %}
    <!-- GOOGLE PLUS SIGN IN BUTTON-->

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="821609926844-k5476bupthtsr8201bevbqf3dt0ic73u.apps.googleusercontent.com">

    <div class="form-signin" style="width:800px; margin:0 auto;">
        <h1 class="h3 mb-3 font-weight-normal">Login/SignUp</h1>
        <div id="signinButton" style="margin: 30px;">
            <div class="g-signin2" data-onsuccess="signInCallback"></div>
        </div>
        <div id="result"></div>
        <script>

            function onSignIn(googleUser) {
                const id_token = googleUser.getAuthResponse().id_token;
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:5000/gconnect');
                xhr.setRequestHeader('Content-Type', 'application/octet-stream; charset=utf-8');
                xhr.onload = function () {
                    console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send('idtoken=' + id_token);
            }

            function signInCallback(googleUser) {
                const id_token = googleUser.getAuthResponse().id_token;
                // Hide the sign-in button now that the user is authorized
                // $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: id_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function () {
                        // Handle or verify the server response if necessary.
                        $('#result').html('Login Successful!</br>' + '</br>Redirecting...');
                        setTimeout(function () {
                            window.location.href = "/garagesales/";
                        }, 4000);
                    }
                });

            }
        </script>

    </div>
{% endblock %}